body, html{height:100%;}


.External_Box{
    width:100%;
    height:100%;
    background-color: burlywood;
}
.Main_Box{
    width:800px;
    height:800px;
    margin-left:20%;
    background-color: cadetblue;
    border:20px solid plum;
}

.Ludo_Box{
    width:788px;
    margin:0 auto;
    padding-top:5px;


}
.Round{
    width:40%;
    height:40%;
    border-radius:50%;
    float:left;
    background-color:chocolate;
    margin-top:6.5%;
    margin-left:6.5%
}
.Ludo_Box1{
    width:315px;
    float:left;
    height:315px;
    background-color:deepskyblue;

}
.Ludu_Box2{
    width:315px;
    height:315px;
    float:left;


    background-color:limegreen;
}
.Ludu_Box3{
    width:157.5px;
    float:left;
    height:315px;



}
.Box_Black{
    background-color: black;
    border:1px solid lavender;
    float:left;
    width:50px;
    height:50px;
}
.Box_Blue{
    background-color:deepskyblue;
    border:1px solid whitesmoke;
    float:left;
    width:50px;
    height:50px;
}
.Box_Green{
    background-color: limegreen;
    border:1px solid black;
    float:left;
    width:50px;
    height:50px;
}

.Ludu_Box4{
    width:315px;
    height:158px;
    float:left;
}
.Box_Aqua{
    background-color:aqua;
    border:1px solid lightgoldenrodyellow;
    float:left;
    width:50px;
    height:50px;
}

.Bird{
    width:157.5px;
    float:left;
    height:158px;
    background-color: deepskyblue;
}

.Box_Gray{
    background-color:gray;
    border:1px solid palegoldenrod;
    float:left;
    width:50px;
    height:50px;
}

.Ludu_Box4{
    width:315px;
    height:158px;
    float:left;

}
